@font-face {
  font-family: NanumSquare_B;
  src: url('/NanumSquareOTF_acB.otf');
}

button {
  cursor: pointer;
}

#tl-textarea{
  border-radius: 10px;
  width:100%;
  height:150px;
  resize:none;
  padding: 10px;
  box-sizing: border-box;
  border-color: #a9abad;
}

#tl-summarize-btn-container {
  display:flex; 
  justify-content:flex-end;
  width: 100%; 
  margin-top:5px;
  font-family: NanumSquare_R;
}

#tl-summarize-btn {
  border:none; 
  padding:10px;
  border-radius: 5px;
  background-color: #e9e6ff;
  color: #403294;
}
