@font-face {
  font-family: NanumSquare_B;
  src: url('/NanumSquareOTF_acB.otf');
}
@font-face {
  font-family: NanumSquare_R;
  src: url('/NanumSquareOTF_acR.otf');
}

body {
  margin: 0;
  padding: 20px;
  padding-bottom: 10px;
  font-family: NanumSquare_R;
  width: 700px;
}

#document-title {
  margin-left: 5px;
}

#summary-length-options {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#summary-length-options button {
  margin-right: 20px;
}

#content {
  color: black;
  padding: 20px;
  font-family: NanumSquare_R;
  font-size: 15px;
  line-height: 2;
  border: 1px solid #888;
  border-radius: 10px;
}

.summary-item {
  display: flex;
  flex-direction: row;
}

.summary-item-index {
  margin-right: 5px;
}

#footer {
  margin-top: 15px;
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

#footer-left img {
  cursor: pointer;
}

#footer-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: end;
}

#feedback-link {
  color: #888;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}

#logo {
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  top: -5px;
}