.tl-preview.below-link {
  visibility: hidden;
  max-height: 0px;
  margin-top: 5px;
  transition: max-height 0.6s;
  padding-left: 10px;
  padding-top: 5px;
  border-left: 4px solid #ceadf0;
  margin-left: 3px;
  margin-right: 3px;
  font-family: NanumSquare_R;
}

.tl-preview.popup {
  position: fixed;
  z-index: 999999;

  visibility: hidden;
  max-height: 0px;
  transition: max-height 0.6s;
  font-family: NanumSquare_R;

  border:none;
  background-color:white;
  color:black;
  box-shadow: 0px 0px 5px 1px #6b686e;
  padding:15px;
  border-radius:5px;

  width: 400px;
}

.tl-preview.top-right {
  top: 10px;
  right: 10px;
}

.below-link.tl-preview.visible {
  visibility: visible !important;
  max-height: 250px !important;
  height: auto;
}

.popup.tl-preview.visible {
  visibility: visible !important;
  max-height: 450px !important;
  height: auto;
}

.preview-header {
  font-size: 16px;
  font-weight: bold;
  font-family: NanumSquare_B;
  margin-bottom: 5px;
}

.below-link .preview-header {
  display: none;
}

.preview-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.popup .preview-body {
  flex-direction: column;
}

.below-link .preview-content {
  width: 282px;
}

.below-link .preview-content-wrapper:first-child {
  margin-right: 10px;
}

.below-link .show-one .preview-content-wrapper:first-child {
  margin-right: 0 !important;
}

.below-link .show-one .preview-content {
  width: 570px !important;
}

.popup .preview-content-wrapper {
  width: 100%;
}

.popup .preview-content-title{
  margin-top: 10px;
}

.hide {
  display: none !important;
}

.content-title {
  margin-left: 10px;
}

.content-title:first-child {
  margin-left: 0px !important;
}

.selected-title {
  color: black;
  border-bottom: 2px solid #4d5156;
}

.unselected-title {
  color: #BBBBBB;
  cursor: pointer;
}

.preview-content-title {
  padding-left: 10px;
  font-size: 14px;
  font-family: NanumSquare_B;
}

.preview-content {
  height: 150px;
  width: 100%;
  border-radius: 10px;
  background-color: #f3f3f3;
  overflow-y: scroll;
  font-size: 12px;
  color: #4d5156;
  padding: 10px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.253);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.253);
}

.preview-sentence {
  margin-bottom: 6px;
  display: flex;
  flex-direction: row;
}

.preview-bullet {
  margin-right: 5px;
}

.preview-footer {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size:10px;
  color:#4d5156;
}

.preview-footer.form-switch {
  position:relative;
  bottom:-10px;
}

.footer-item {
  /* border-right: 1px solid black; */
  margin-right: 10px;
  padding-right: 10px;
  font-size: 10px;
}

.preview-select {
  font-size: 10px;
}










#tl-popup {
  position:fixed;
  opacity:0;
  right:10px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  transition: opacity 0.8s ease-out;
  width:400px;
  height:auto;
  z-index:999998;
  border:none;
  background-color:white;
  color:black;
  box-shadow: 0px 0px 5px 1px #6b686e;
  padding:20px;
  padding-top:20px;
  border-radius:5px;
  line-height: 150%;
}

#tl-popup-title {
  font-family: NanumSquare_B;
  font-weight:bold;
  font-size:16px;
}

.tl-middle-title {
  font-family: NanumSquare_B;
  font-weight:bold;
  font-size:12px;
  margin-bottom: 10px;
  padding-left:10px;
}

.tl-text-box {
  padding-top:10px;
  margin-top:10px;
  background-color: #f3f3f3;
  padding:10px;
  border-radius: 10px;
}

.tl-preview-text {
  font-size:12px;
  font-family: NanumSquare_R;
  color:#4d5156;
}

#tl-more-keyword-sentences {
  margin-top:5px;
  font-size:12px;
  font-family: NanumSquare_R;
  color:#4d5156;
  text-decoration: underline;
}

#tl-arrow-right {
  z-index: 999999;
}
#tl-arrow-right:hover {
  cursor:pointer;
}

#tl-preview-footer {
  margin-top:10px;
  position:sticky;
  bottom:10px;
  display:flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  font-weight:bold;
  font-family: NanumSquare_R;
}

#tl-popup-icon {
  display:none;
  margin-top:10px;
  margin-right:5px;
  background-color: white;
}

.form-check-input:checked {
  background-color: #ead7fd;
  border-color: #ead7fd;
}

.form-check-input:focus{
  border-color:#efe3fc;
  outline:0;
  box-shadow:0 0 0 .25rem #efe3fca0
}

#tl-popup-preview-switch-description {
  position: absolute;
  bottom: -30px;
  left: 0px;
  background-color: #f3f3f3;
  border-radius: 5px;
  padding: 3px;
  font-size: 10px;
  color: #4d5156;
}

.balloon:after 
	{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 8px 10px 8px;
	border-color: #FFFFFF transparent;
	display: block;
	width: 0;
	z-index: 1;
	top: -10px; 
	left: 10px; 
	}
	
	.balloon:before 
	{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 8px 10px 8px;
	border-color: #4d5156 transparent;
	display: block;
	width: 0;
	z-index: 0;
	top: -11px;
	left: 10px;
	}